<html>
<body>
    <h2>Farmer Registration Confirmation</h2>
    <p>First Name: {{ first_name }}</p>
    <p>Last Name: {{ last_name }}</p>
    <p>Government ID: {{ government_id }}</p>
    <p>Joining Date: {{ date_of_joining }}</p>
    <p>Address: {{ address }}</p>
    <p>County: {{ county }}</p>
    <p>Crops Grown: {{ fruit }}</p>
       <form id="confirm-form">
        <input type="checkbox" id="confirm" name="confirm">
        <label for="confirm">I confirm the above information is correct.</label><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
